# Extrai Tweets

In [ ]:
!pip install tweepy datetime

# Play

In [ ]:
!python get_tweets.py

# Entendendo a estrutura do formato JSON

In [1]:
import json

In [9]:
# Abrir o arquivo de tweets as linhas
with open('collected_tweets_2020-11-21-19-27-40.txt', 'r') as file:
    tweets = file.readlines()

In [6]:
# fazendo um parse do tweet para um formato json e exporta arquivo
with open ('tweet.json', 'w') as f:
    json.dump(
      json.loads(json.loads(tweets[0])), f
)

IndexError: list index out of range

In [48]:
parse_tweets = [json.loads(json.loads(i)) for i in tweets]

In [49]:
# quantidade de tweets coletados
len(parse_tweets)

5677

# Acessando as chaves do Json (dicion√°rio)

In [50]:
primeirotweet = parse_tweets[0]

In [40]:
primeirotweet.items()

dict_items([('created_at', 'Sat Nov 21 22:27:36 +0000 2020'), ('id', 1330276705408323590), ('id_str', '1330276705408323590'), ('text', "Only 1433 hours until the end of Donald Trump's presidency! #DontDrinkBleach #ImpeachTrump #TrumpCountdown #BidenHarris2020"), ('source', '<a href="http://www.TrumpCountDownComingSoon.com" rel="nofollow">The Trump Count Down</a>'), ('truncated', False), ('in_reply_to_status_id', None), ('in_reply_to_status_id_str', None), ('in_reply_to_user_id', None), ('in_reply_to_user_id_str', None), ('in_reply_to_screen_name', None), ('user', {'id': 822518858242134016, 'id_str': '822518858242134016', 'name': 'The Trump Countdown', 'screen_name': 'TrumpCountdown0', 'location': 'Washington, DC', 'url': None, 'description': "The unofficial countdown for Donald Trump's presidency.", 'translator_type': 'none', 'protected': False, 'verified': False, 'followers_count': 354, 'friends_count': 9, 'listed_count': 6, 'favourites_count': 505, 'statuses_count': 33906, 'created_at': 'Fri Jan 20 18:59:12 +0000 2017', 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': '', 'profile_background_image_url_https': '', 'profile_background_tile': False, 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/822522107158556673/FMDFDwMr_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/822522107158556673/FMDFDwMr_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/822518858242134016/1484942903', 'default_profile': True, 'default_profile_image': False, 'following': None, 'follow_request_sent': None, 'notifications': None}), ('geo', None), ('coordinates', None), ('place', None), ('contributors', None), ('is_quote_status', False), ('quote_count', 0), ('reply_count', 0), ('retweet_count', 0), ('favorite_count', 0), ('entities', {'hashtags': [{'text': 'DontDrinkBleach', 'indices': [60, 76]}, {'text': 'ImpeachTrump', 'indices': [77, 90]}, {'text': 'TrumpCountdown', 'indices': [91, 106]}, {'text': 'BidenHarris2020', 'indices': [107, 123]}], 'urls': [], 'user_mentions': [], 'symbols': []}), ('favorited', False), ('retweeted', False), ('filter_level', 'low'), ('lang', 'en'), ('timestamp_ms', '1605997656572')])

In [51]:
# Acessa o created_at do tweet
# chave de primeiro n√≠vel (root)
primeirotweet['created_at']

'Sat Nov 21 22:27:36 +0000 2020'

In [52]:
# Acessar a chave USER
primeirotweet['user']['id']

822518858242134016

# Transformar os tweets em uma estrutura relacional analis√°vel

In [42]:
import pandas as pd

In [16]:
teste = pd.DataFrame(primeirotweet)
teste.head()
# n√£o funciona

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,quote_count,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,filter_level,lang,timestamp_ms
contributors_enabled,Sat Nov 21 22:27:36 +0000 2020,1330276705408323590,1330276705408323590,Only 1433 hours until the end of Donald Trump'...,"<a href=""http://www.TrumpCountDownComingSoon.c...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1605997656572
created_at,Sat Nov 21 22:27:36 +0000 2020,1330276705408323590,1330276705408323590,Only 1433 hours until the end of Donald Trump'...,"<a href=""http://www.TrumpCountDownComingSoon.c...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1605997656572
default_profile,Sat Nov 21 22:27:36 +0000 2020,1330276705408323590,1330276705408323590,Only 1433 hours until the end of Donald Trump'...,"<a href=""http://www.TrumpCountDownComingSoon.c...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1605997656572
default_profile_image,Sat Nov 21 22:27:36 +0000 2020,1330276705408323590,1330276705408323590,Only 1433 hours until the end of Donald Trump'...,"<a href=""http://www.TrumpCountDownComingSoon.c...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1605997656572
description,Sat Nov 21 22:27:36 +0000 2020,1330276705408323590,1330276705408323590,Only 1433 hours until the end of Donald Trump'...,"<a href=""http://www.TrumpCountDownComingSoon.c...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1605997656572

In [53]:
df_tratado = pd.DataFrame(primeirotweet).reset_index(drop=True).iloc[:1]
df_tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,quote_count,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,filter_level,lang,timestamp_ms
0,Sat Nov 21 22:27:36 +0000 2020,1330276705408323590,1330276705408323590,Only 1433 hours until the end of Donald Trump'...,"<a href=""http://www.TrumpCountDownComingSoon.c...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1605997656572

In [54]:
df_tratado.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'is_quote_status', 'quote_count', 'reply_count',
       'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted',
       'filter_level', 'lang', 'timestamp_ms'],
      dtype='object')

In [55]:
df_tratado.drop(columns=['quote_count', 'reply_count','retweet_count', 'favorite_count', 'favorited', 'retweeted','user','entities'
                        ],inplace =True)

In [56]:
df_tratado.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'geo', 'coordinates', 'place',
       'contributors', 'is_quote_status', 'filter_level', 'lang',
       'timestamp_ms'],
      dtype='object')

In [61]:
df_tratado['user_id'] = primeirotweet['user']['id']
df_tratado['user_id_str'] = primeirotweet['user']['id_str']
df_tratado['user_screen_name'] = primeirotweet['user']['screen_name']
df_tratado['user_location'] = primeirotweet['user']['location']
df_tratado['user_description'] = primeirotweet['user']['description']
df_tratado['user_protected'] = primeirotweet['user']['protected']
df_tratado['user_verified'] = primeirotweet['user']['verified']
df_tratado['user_followers_count'] = primeirotweet['user']['followers_count']
df_tratado['user_friends_count'] = primeirotweet['user']['friends_count']
df_tratado['user_created_at'] = primeirotweet['user']['created_at']

In [62]:
df_tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_id_str,user_screen_name,user_id,user_location,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at
0,Sat Nov 21 22:27:36 +0000 2020,1330276705408323590,1330276705408323590,Only 1433 hours until the end of Donald Trump'...,"<a href=""http://www.TrumpCountDownComingSoon.c...",False,None,None,None,None,...,822518858242134016,TrumpCountdown0,822518858242134016,"Washington, DC",The unofficial countdown for Donald Trump's pr...,False,False,354,9,Fri Jan 20 18:59:12 +0000 2017

In [63]:
# Entidades
primeirotweet['entities']

{'hashtags': [{'text': 'DontDrinkBleach', 'indices': [60, 76]},
  {'text': 'ImpeachTrump', 'indices': [77, 90]},
  {'text': 'TrumpCountdown', 'indices': [91, 106]},
  {'text': 'BidenHarris2020', 'indices': [107, 123]}],
 'urls': [],
 'user_mentions': [],
 'symbols': []}

In [66]:
user_mentions = []
for i in range(len(primeirotweet['entities']['user_mentions'])):
    print(i)

# Vamos criar uma func√ß√£o que faz todo o tratamento do tweet e converte para um dataframe pandas

In [77]:
def tweet_para_df(tweet):
    try:
        df_tratado = pd.DataFrame(tweet).reset_index(drop=True).iloc[:1]
        df_tratado.drop(columns=['quote_count', 'reply_count','retweet_count', 'favorite_count', 'favorited', 'retweeted','user','entities'
                            ],inplace =True)
        df_tratado['user_id'] = tweet['user']['id']
        df_tratado['user_id_str'] = tweet['user']['id_str']
        df_tratado['user_screen_name'] = tweet['user']['screen_name']
        df_tratado['user_location'] = tweet['user']['location']
        df_tratado['user_description'] = tweet['user']['description']
        df_tratado['user_protected'] = tweet['user']['protected']
        df_tratado['user_verified'] = tweet['user']['verified']
        df_tratado['user_followers_count'] = tweet['user']['followers_count']
        df_tratado['user_friends_count'] = tweet['user']['friends_count']
        df_tratado['user_created_at'] = tweet['user']['created_at']
    except:
        return None
        
    return df_tratado

In [79]:
tweet_para_df(parse_tweets)

In [82]:
%%time
# Vamos interar e transformar todos os tweets
parseados = [tweet_para_df(tweet) for tweet in parse_tweets]

Wall time: 6min 51s

In [83]:
# Eliminar as posi√ß√µes vazias da lista
parseados = [i for i in parseados if i is not None]

In [85]:
tratado_final = pd.concat(parseados, ignore_index= True, sort=True)

In [91]:
tratado_final

,contributors,coordinates,created_at,extended_entities,extended_tweet,filter_level,geo,id,id_str,in_reply_to_screen_name,...,user_created_at,user_description,user_followers_count,user_friends_count,user_id,user_id_str,user_location,user_protected,user_screen_name,user_verified
0,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276705408323590,1330276705408323590,None,...,Fri Jan 20 18:59:12 +0000 2017,The unofficial countdown for Donald Trump's pr...,354,9,822518858242134016,822518858242134016,"Washington, DC",False,TrumpCountdown0,False
1,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276705420914689,1330276705420914689,None,...,Fri Sep 26 20:57:09 +0000 2008,"Tweets about my loves: comics, sports, politic...",331,531,16474685,16474685,"Colchester, VT",False,markhaverty,False
2,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276705571893251,1330276705571893251,None,...,Wed May 17 16:18:14 +0000 2017,"#BidenHarris2020, Betocrat, Still with HRC, #v...",3127,4995,864877729426145280,864877729426145280,"Dallas, TX",False,cdallas75,False
3,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276705555116032,1330276705555116032,None,...,Thu Jul 09 02:28:47 +0000 2009,#KAG\n#ThinBlueLine,5634,4801,55113653,55113653,Texas,False,ashbeth34,False
4,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276705706127369,1330276705706127369,None,...,Sun Oct 26 13:27:27 +0000 2014,None,281,493,2878276560,2878276560,None,False,Alborok75,False
5,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276705668304899,1330276705668304899,None,...,Wed Jan 09 00:13:46 +0000 2019,"Wife, mom, super dog lover, and a never, ever ...",211,352,1082792508873211907,1082792508873211907,None,False,Bethass1,False
6,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276705957765129,1330276705957765129,None,...,Sun Oct 01 11:08:14 +0000 2017,None,5,63,914446852673728512,914446852673728512,None,False,StellaG1216,False
7,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276705936814082,1330276705936814082,None,...,Tue Feb 24 00:02:08 +0000 2015,None,322,3229,3057617177,3057617177,None,False,pwilson1953,False
8,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276705911644165,1330276705911644165,None,...,Fri Feb 08 10:24:08 +0000 2019,None,289,532,1093817747719344128,1093817747719344128,None,False,LinklaterKerrie,False
9,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276706054238209,1330276706054238209,None,...,Thu Dec 03 03:42:57 +0000 2015,None,152,638,4357305977,4357305977,None,False,KenColon4,False
10,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276706129686531,1330276706129686531,None,...,Mon Mar 09 18:39:04 +0000 2009,"#KAG. Huge Trump supporter. Love my country, h...",6020,5538,23477550,23477550,"Scottsdale, Arizona, USA",False,sueettaparks,False
11,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276706465288196,1330276706465288196,None,...,Wed Apr 13 02:20:50 +0000 2011,"MAGA, KAG, Q, WWG1WGA!!!",1228,613,281321889,281321889,"Greenfield, IN",False,vickithenanny,False
12,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276706507239427,1330276706507239427,None,...,Wed Jun 03 01:26:13 +0000 2020,MAGAüá∫üá∏üíØProud to support Trump~‚ô•Ô∏èüá∫üá∏TRUMP2020 ~ ...,109,227,1267990712429146112,1267990712429146112,"Nevada, USA",False,FightingFiresNV,False
13,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276706402316291,1330276706402316291,None,...,Tue Jan 17 02:15:04 +0000 2017,None,748,386,821178996176064512,821178996176064512,None,False,LisaDawn1618,False
14,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276706708566018,1330276706708566018,None,...,Tue Mar 24 09:09:38 +0000 2009,"‚ÄúDo you think because you are virtuous, that t...",443,1025,26203878,26203878,The EU,False,keefyclarke,False
15,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276706909904896,1330276706909904896,None,...,Mon Mar 09 02:27:27 +0000 2015,"First Responder, Whistleblower, Christian, Exp...",6867,3873,3068909292,3068909292,"Washington, DC",False,Watchman1209007,False
16,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276706930864128,1330276706930864128,None,...,Sun Aug 23 23:36:08 +0000 2020,None,20,51,1297678840471453697,1297678840471453697,None,False,planetgreen2019,False
17,None,None,Sat Nov 21 22:27:36 +0000 2020,NaN,NaN,low,None,1330276707115425797,1330276707115425797,None,...,Tue Nov 04 19:12:52 +0000 2014,None,134,296,2861177361,2861177361,None,False,NikkiJohn44,False
18,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707266400259,1330276707266400259,None,...,Fri Sep 06 21:40:55 +0000 2019,Official Twitter for informational purposes,833,3,1170089364195614720,1170089364195614720,"Washington, DC",False,nowayhaitch,False
19,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707245453314,1330276707245453314,None,...,Sun Mar 09 23:01:17 +0000 2008,new boot goofin,162,103,14110007,14110007,None,False,briiittany,False
20,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707312553988,1330276707312553988,None,...,Tue Oct 26 10:47:08 +0000 2010,"Interested in people, cultures, science, histo...",129,428,207950296,207950296,Netherlands,False,eudoxos,False
21,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707497095178,1330276707497095178,None,...,Sat Nov 27 16:08:41 +0000 2010,"Actress, Host, Director, Producer, & Model.",229,338,220375654,220375654,"Los Angeles, CA",False,SteffSiebrand,False
22,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707560009730,1330276707560009730,None,...,Mon Jul 26 20:54:48 +0000 2010,Die Erde k√∂nnte ein Paradies f√ºr die Menschen ...,2291,2001,171213946,171213946,None,False,Liane13,False
23,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707497078784,1330276707497078784,None,...,Sun Jan 19 00:51:03 +0000 2020,God First! Advocate for Autism! Black Lives M...,52,212,1218697269857275905,1218697269857275905,"Burlington, NC",False,DawnSim25976984,False
24,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707681652740,1330276707681652740,None,...,Fri Feb 05 17:51:45 +0000 2010,"Songwriter, publisher, small business owner.",210,642,111652398,111652398,A Northwestern State in USA,False,limpinaround,False
25,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707526389760,1330276707526389760,None,...,Thu Aug 06 19:21:20 +0000 2009,Celebrity photographer and editor of http://Ti...,11143,4647,63514105,63514105,New York City,False,JAMESEDSTROM,False
26,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707404746758,1330276707404746758,None,...,Mon Mar 19 18:29:22 +0000 2012,Conservative #KAG @ps5725 #MAGA #RT üöÇüöÉRTüöÉRTüöÉüá∫...,34939,37153,529604764,529604764,California,False,Ps5725,False
27,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707606138880,1330276707606138880,None,...,Sun Jul 03 01:36:09 +0000 2016,"#LGBTVoices. GBA. Mom, Atheist. Equality suppo...",5629,4650,749416405846548482,749416405846548482,Alternative Reality,False,CaraTesoraMia,False
28,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707723599877,1330276707723599877,None,...,Tue Mar 01 02:59:14 +0000 2016,Noticias Internacionales y Actualizadas,542,1374,704501217515474945,704501217515474945,None,False,TuNoticia_Info,False
29,None,None,Sat Nov 21 22:27:37 +0000 2020,NaN,NaN,low,None,1330276707622858752,1330276707622858752,None,...,Wed Jun 03 22:18:51 +0000 2020,Shmood: Rooftop Korean,195,1472,1268306100337569792,1268306100337569792,None,False,tankmanrebooted,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4787,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277174289555459,1330277174289555459,None,...,Sun Sep 13 18:18:44 +0000 2020,"Sou uma pessoa conservadora, que cr√™ em Jesus ...",1389,1561,1305209065900044289,1305209065900044289,None,False,Antonio54283865,False
4788,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277174394449920,1330277174394449920,None,...,Tue May 23 19:47:33 +0000 2017,None,60,271,867104732925526017,867104732925526017,"Oxford, England",False,suzy78772196,False
4789,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277174469865475,1330277174469865475,None,...,Wed Apr 28 19:20:54 +0000 2010,Guns N' Roses Truth http://GNRtruth.com is a v...,6508,887,138149459,138149459,Milky Way Galaxy USA,False,GNRtruth,False
4790,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277174633443328,1330277174633443328,None,...,Sun Jun 09 04:47:53 +0000 2019,Bougie bitch.,342,268,1137582062905581568,1137582062905581568,"New York, USA",False,SaranMulan,False
4791,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277174688030722,1330277174688030722,None,...,Sat Nov 14 02:48:20 +0000 2015,I believe America comes first in all things! W...,4050,4791,4183143615,4183143615,None,False,Jacklrice2,False
4792,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277174725709833,1330277174725709833,None,...,Sat Nov 12 21:58:10 +0000 2016,None,13,134,797559133708881920,797559133708881920,None,False,JasonFr19476809,False
4793,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277174818074625,1330277174818074625,None,...,Wed Oct 14 14:52:12 +0000 2015,"Integrity, compassion, loyalty, humility, fun ...",109,256,3892632792,3892632792,"Madison, WI",False,Rells1977,False
4794,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277174759350272,1330277174759350272,None,...,Sun Sep 05 22:59:34 +0000 2010,"@LAMDAdrama alum, formerly @PBS & @masterpiece...",2049,1598,187330176,187330176,London/Shakespeare Country,False,publicradionerd,False
4795,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277174897762304,1330277174897762304,None,...,Mon Aug 20 22:33:14 +0000 2018,No DMs 30 yr Air Force veteran. Desert Storm &...,4103,4403,1031670521514082304,1031670521514082304,"Florida, USA",False,MaritaWoods11,False
4796,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277175036157952,1330277175036157952,None,...,Sat Jan 31 00:06:27 +0000 2009,Co-publisher of @CrossedGenres Publications. A...,1523,842,19796634,19796634,"Massachusetts, USA",False,Metafrantic,False
4797,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277175073927169,1330277175073927169,None,...,Sun Mar 04 01:32:45 +0000 2012,‚Ä¢ We must become the change we wish to see in ...,3130,3662,513810543,513810543,US,False,opusworks,False
4798,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277175229026307,1330277175229026307,None,...,Thu Jul 04 14:12:54 +0000 2013,ŸÖÿ±⁄Ø ÿ®ÿ± ⁄©ŸÑ€åÿ™ ÿ¨ŸÖŸáŸàÿ±€å ÿßÿ≥ŸÑÿßŸÖ€å Ÿà ÿßÿ≥ŸÑÿßŸÖ Ÿà ÿ±⁄ò€åŸÖ ÿ¢ÿÆŸàŸÜÿØ€å,40,44,1568315323,1568315323,None,False,barandazam__,False
4799,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277175765970954,1330277175765970954,None,...,Tue Mar 20 16:39:47 +0000 2012,Creo en los Valores Cristianos. Soy de RD sigl...,37,260,531422272,531422272,None,False,euxprz,False
4800,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277175405195266,1330277175405195266,None,...,Tue Jun 09 23:56:12 +0000 2020,"Interested in many things. Patterns, Data, Cod...",196,539,1270504877857271809,1270504877857271809,None,False,tat_tva,False
4801,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277175581347849,1330277175581347849,None,...,Sat Aug 29 04:07:49 +0000 2009,üòà #CheetoHitlerIsGoingToBeGone üòà #Ruthless üòà #...,2610,4310,69784766,69784766,Cliffs of Insanity,False,SarcasticBimbo,False
4802,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277175833079808,1330277175833079808,None,...,Wed Jun 13 04:33:31 +0000 2012,None,606,878,606891085,606891085,"Durham, NC",False,wake_tfup,False
4803,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277175845670913,1330277175845670913,None,...,Fri Jan 20 05:59:40 +0000 2012,None,642,4990,469064778,469064778,None,False,MARIEMANHARDT,False
4804,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277175929532423,1330277175929532423,None,...,Fri Feb 26 15:24:28 +0000 2010,native brooklynite; what the world needs now i...,464,2229,117772607,117772607,None,False,lb_bklyn,False
4805,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277175975702529,1330277175975702529,None,...,Tue Oct 14 10:57:09 +0000 2014,Healthcare Professional and Humanitarian.Views...,1470,2093,2855400744,2855400744,Australia,False,6f6e5ba6bdc34ae,False
4806,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277176046915586,1330277176046915586,None,...,Fri Oct 31 19:30:18 +0000 2008,"Sounders FC, 12s, UW Huskies, Political junkie...",866,875,17091056,17091056,None,False,ene_liis,False
4807,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277175967297543,1330277175967297543,None,...,Thu Jul 06 10:49:15 +0000 2017,"Funny,smart,and employed. I love to make peopl...",132,116,882914333575057408,882914333575057408,None,False,shkelly9142,False
4808,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277176063700993,1330277176063700993,None,...,Mon Jul 13 00:55:42 +0000 2009,A REAL woman with REAL ambitions,99,194,56241270,56241270,"Tampa, FL via Marianna, FL",False,kweenthomas,False
4809,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277176428683266,1330277176428683266,None,...,Thu Mar 26 01:44:15 +0000 2020,17+ 2020\nEnjoy the show...\nFacts don't care ...,140,648,1242990546613829638,1242990546613829638,United States,False,QThis17,False
4810,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277176298639363,1330277176298639363,None,...,Mon Apr 20 15:59:03 +0000 2009,None,270,676,33560406,33560406,Minnesota,False,hhabben,False
4811,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277176550322178,1330277176550322178,None,...,Thu Apr 02 17:59:22 +0000 2009,"Independent, veteran. | Liberty, big ideas, ka...",8479,8525,28384772,28384772,Oklahoma,False,Connectionary,False
4812,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277176734863360,1330277176734863360,None,...,Fri Dec 30 05:47:25 +0000 2011,"I love my family, I love wine, I‚Äôm a democrat ...",1617,2883,450391029,450391029,"San Diego, CA",False,christylnrd,False
4813,None,None,Sat Nov 21 22:29:29 +0000 2020,NaN,NaN,low,None,1330277177015857152,1330277177015857152,None,...,Mon Jan 23 03:04:31 +0000 2017,None,33,96,823365767764684800,823365767764684800,"San Diego, CA",False,Flussigsebrot,False
4814,None,None,Sat Nov 21 22:29:28 +0000 2020,NaN,NaN,low,None,1330277176885833728,1330277176885833728,None,...,Tue Jun 15 14:02:35 +0000 2010,Tacos are a food group. Cooking shows are my l...,227,521,155915575,155915575,"New Hampshire, USA",False,DesiresTacos,False
4815,None,None,Sat Nov 21 22:29:29 +0000 2020,NaN,NaN,low,None,1330277177015808004,1330277177015808004,None,...,Mon Sep 23 17:32:55 +0000 2019,La legge le regole l onore,2899,5000,1176187638929350662,1176187638929350662,None,False,Gianfra79238417,False
4816,None,None,Sat Nov 21 22:29:29 +0000 2020,NaN,NaN,low,None,1330277177338843141,1330277177338843141,None,...,Mon Aug 16 10:06:28 +0000 2010,This account is personal and does not represen...,241,550,179037253,179037253,"Melbourne, Australia",False,DPTOZ,False

# Ingest√£o de dados no twitter no SQL SERVER

In [99]:
!pip install pyodbc update

Requirement already satisfied: pyodbc in c:\users\adria\anaconda3\lib\site-packages (4.0.26)
Requirement already satisfied: update in c:\users\adria\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: style==1.1.0 in c:\users\adria\anaconda3\lib\site-packages (from update) (1.1.0)

In [100]:
import pyodbc
import sqlalchemy

In [111]:
engine = sqlalchemy.create_engine(
   'mssql+pyodbc://sa:99731162Aa@127.0.0.1/twitter?driver=ODBC+Driver+17+for+SQL+Server' 
)

In [112]:
# ingest√£o
tratado_final.to_sql('twetts',  con= engine, index=False, if_exists='append')

ProgrammingError: (pyodbc.ProgrammingError) ('Invalid parameter type.  param-index=16 param-type=dict', 'HY105')
[SQL: INSERT INTO twetts (contributors, coordinates, created_at, extended_entities, extended_tweet, filter_level, geo, id, id_str, in_reply_to_screen_name, in_reply_to_status_id, in_reply_to_status_id_str, in_reply_to_user_id, in_reply_to_user_id_str, is_quote_status, lang, place, possibly_sensitive, quoted_status, quoted_status_id, quoted_status_id_str, quoted_status_permalink, retweeted_status, source, text, timestamp_ms, truncated, user_created_at, user_description, user_followers_count, user_friends_count, user_id, user_id_str, user_location, user_protected, user_screen_name, user_verified) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((None, None, 'Sat Nov 21 22:27:36 +0000 2020', None, None, 'low', None, 1330276705408323590, '1330276705408323590', None, None, None, None, None, 0, 'en', None, None, None, None, None, None, None, '<a href="http://www.TrumpCountDownComingSoon.com" rel="nofollow">The Trump Count Down</a>', "Only 1433 hours until the end of Donald Trump's presidency! #DontDrinkBleach #ImpeachTrump #TrumpCountdown #BidenHarris2020", '1605997656572', 0, 'Fri Jan 20 18:59:12 +0000 2017', "The unofficial countdown for Donald Trump's presidency.", 354, 9, 822518858242134016, '822518858242134016', 'Washington, DC', 0, 'TrumpCountdown0', 0), (None, None, 'Sat Nov 21 22:27:36 +0000 2020', None, None, 'low', None, 1330276705420914689, '1330276705420914689', None, None, None, None, None, 0, 'en', None, None, None, None, None, None, None, '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>', 'RT @AndrewSolender: Trump attorney holds GOP‚Äôs only chance at an elected lever of power over the cliff-edge to win an election that‚Äôs alrea‚Ä¶', '1605997656575', 0, 'Fri Sep 26 20:57:09 +0000 2008', 'Tweets about my loves: comics, sports, politics, and esp. my daughter. Former writer for FOX Sports, Sporting News, and Wizard magazine, amongst others.', 331, 531, 16474685, '16474685', 'Colchester, VT', 0, 'markhaverty', 0), (None, None, 'Sat Nov 21 22:27:36 +0000 2020', None, None, 'low', None, 1330276705571893251, '1330276705571893251', None, None, None, None, None, 0, 'en', None, None, None, None, None, None, None, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>', 'RT @JohnWDean: Trump is openly and actively violating federal criminal laws in his efforts to overturn his defeat. President-elect Biden sh‚Ä¶', '1605997656611', 0, 'Wed May 17 16:18:14 +0000 2017', '#BidenHarris2020, Betocrat, Still with HRC, #votetxblue #RBGRevolution,#planyourvote #voteearly please no DM üè¥\u200d‚ò†Ô∏è', 3127, 4995, 864877729426145280, '864877729426145280', 'Dallas, TX', 0, 'cdallas75', 0), (None, None, 'Sat Nov 21 22:27:36 +0000 2020', None, None, 'low', None, 1330276705555116032, '1330276705555116032', None, None, None, None, None, 0, 'en', None, None, None, None, None, None, None, '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>', 'RT @TRUMPMOMENTS411: @NewDayForNJ Yes, it is. The Son of Kraken was the press conference, and Trump is sitting back right now watching the‚Ä¶', '1605997656607', 0, 'Thu Jul 09 02:28:47 +0000 2009', '#KAG\n#ThinBlueLine', 5634, 4801, 55113653, '55113653', 'Texas ', 0, 'ashbeth34', 0), (None, None, 'Sat Nov 21 22:27:36 +0000 2020', None, None, 'low', None, 1330276705706127369, '1330276705706127369', None, None, None, None, None, 0, 'en', None, None, None, None, None, None, None, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>', 'RT @realTuckFrumper: George Conway‚Äôs PERFECT Analogy for Trump is Going Viral ‚Äî Loved So Much Thousands are Responding https://t.co/MkXmUIo‚Ä¶', '1605997656643', 0, 'Sun Oct 26 13:27:27 +0000 2014', None, 281, 493, 2878276560, '2878276560', None, 0, 'Alborok75', 0), (None, None, 'Sat Nov 21 22:27:36 +0000 2020', None, None, 'low', None, 1330276705668304899, '1330276705668304899', None, None, None, None, None, 0, 'en', None, None, None, None, None, None, None, '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>', "RT @JohnLukeSam1: What a stubborn lazy spiteful fat old sick man Trump is. He skips today's G20 summit that's focused on COVID to once agai‚Ä¶", '1605997656634', 0, 'Wed Jan 09 00:13:46 +0000 2019', 'Wife, mom, super dog lover, and a never, ever ever trumper.  He‚Äôs got to go.', 211, 352, 1082792508873211907, '1082792508873211907', None, 0, 'Bethass1', 0), (None, None, 'Sat Nov 21 22:27:36 +0000 2020', None, None, 'low', None, 1330276705957765129, '1330276705957765129', None, None, None, None, None, 0, 'en', None, None, None, None, None, None, None, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', "RT @StephenKing: I have to believe that some of the current horrific surge in COVID cases--2,000 dying each day--traces back to Trump's cha‚Ä¶", '1605997656703', 0, 'Sun Oct 01 11:08:14 +0000 2017', None, 5, 63, 914446852673728512, '914446852673728512', None, 0, 'StellaG1216', 0), (None, None, 'Sat Nov 21 22:27:36 +0000 2020', None, None, 'low', None, 1330276705936814082, '1330276705936814082', None, None, None, None, None, 0, 'en', None, None, None, None, None, None, None, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>', 'RT @claudiaorabone: @Chicago1Ray I think along the same lines u do..Has been quiet..He knew the fix was in..Just sitting back seeing Trump‚Ä¶', '1605997656698', 0, 'Tue Feb 24 00:02:08 +0000 2015', None, 322, 3229, 3057617177, '3057617177', None, 0, 'pwilson1953', 0)  ... displaying 10 of 4817 total bound parameter sets ...  (None, None, 'Sat Nov 21 22:29:29 +0000 2020', None, None, 'low', None, 1330277177015808004, '1330277177015808004', None, None, None, None, None, 0, 'it', None, 0, None, None, None, None, None, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'Ha fatto bene perch√© con gli sciacalli del G20 √® solo tempo perso \nhttps://t.co/xZbLCeC3by: Donald Trump lascia il‚Ä¶ https://t.co/wS4yv7z3eh', '1605997769012', 1, 'Mon Sep 23 17:32:55 +0000 2019', 'La legge le regole l onore', 2899, 5000, 1176187638929350662, '1176187638929350662', None, 0, 'Gianfra79238417', 0), (None, None, 'Sat Nov 21 22:29:29 +0000 2020', None, None, 'low', None, 1330277177338843141, '1330277177338843141', None, None, None, None, None, 0, 'en', None, None, None, None, None, None, None, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', "RT @ColinKahl: Today, leaders from the world's leading nations convened virtually to discuss the international response to COVID-19. Trump‚Ä¶", '1605997769089', 0, 'Mon Aug 16 10:06:28 +0000 2010', 'This account is personal and does not represent the views of my employer, (Public Record Office Victoria). Any retweets do not imply content endorsement.', 241, 550, 179037253, '179037253', 'Melbourne, Australia', 0, 'DPTOZ', 0))]
(Background on this error at: http://sqlalche.me/e/f405)